.services {
  background: #1f2235;
  padding: 100px 0;
  color: #fff;
}

.services__box {
  padding: 40px;
  background: #23263a;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}

.services__box:hover {
  background: #ff4a57;
}

.commonIcon {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}

.services__box:hover .commonIcon {
  color: #fff;
}

.services__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services__box-p {
  font-size: 14px;
  color: #dfdfdf;
}


