.footer {
  padding: 100px 0;
  background: #23263a;
}

.footerSection-logo {
  text-align-last: center;
  margin-bottom: 20px;
}

.footerSection-logo img {
  margin: 0 auto;
  width: 130px;
}

.footerSection p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.footerCircle {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
}

.footerCircle li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1f2235;
  margin: 0 10px;
  border: 2px solid #1f2235;
}

.footerCircle li:hover {
  border: 2px solid #ff4a57;
}
