* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}

.common {
  width: 33.3333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}

.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.mainContent {
  font-size: 16px;
  color: #dfdfdf;
}

.commonBorder {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.btn-outline {
  border: 2px solid #ff4a57;
  border-radius: 50px;
  padding: 13px 40px;
}

.btn-outline:hover {
  background: #ff4a57;
}

.social__icon {
  color: #fff;
  display: flex;
}

/* Helpers */
.container {
  width: 1200px;
  margin: 0 auto;
}

.bgMain {
  background: #1f2235;
}

.h-650 {
  height: 650px;
}

.h-30 {
  height: 30px;
}

.alignCenter {
  align-items: center;
}

.justifyContent {
  justify-content: center;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.3333333333%;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
}

@media screen and (max-width: 765px) {
  .col-6 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .common {
    width: 100%;
  }

  .h-650 {
    height: auto;
  }
}
